.container-fluid {
  background-color: rgba(246, 137, 61, 1);
}
.logonav {
  background-color: white;

}
.topnav {
  position: relative;
  background-color: white;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}
.topnav a {
  float: left;
  color:rgba(246, 137, 61, 1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgba(0, 174, 124, 1);
  color: white !important;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.box{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
    }
.box .explore {
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 60%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 100%; /* Set the width of the positioned div */
}
h1 {
  position: relative;
  font-size: 90px;
  font-family: helvetica,sans-serif;
  font-weight: bold;
  color: white
}
.button {
  position: relative;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgba(0, 174, 124, 1);
  font-family: helvetica,sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
}
.hello {
  background-color: white;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}
h2 {
  text-align: center;
  font-size: 50px;
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  color: rgba(246, 137, 61, 1);
}
p {
  text-align: center;
}
h5 {
  font-size: 90px;
  font-family: helvetica,sans-serif;
  font-weight: bold;
  color: white
}
/* Container holding the image and the text */
.container-map {
  position: relative;

}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 250px;
  right: 220px;
  left: 220px;
  top: 280px;
  background-color: white;
  color: rgba(246, 137, 61, 1);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}
h4 {
  font-size: 50px;
  font-family: helvetica,sans-serif;
  font-weight: bold;
  color: rgba(246, 137, 61, 1);
}
p {
  padding-left: 80px;
  padding-right: 80px;
}
.col{
  float: none;
  color: white;
  text-align: center;
  padding-left:50px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
}
.container {
  background-color: rgba(246, 137, 61, 1);
  padding-top: 100px;
}
